<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="task_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="task_title">
    <%= form.label :limit %>
    <%= form.datetime_field :limit %>
  </div>
  <div class="task_title">
    <%= form.label :status %>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>
  <div class="task_title">
    <%= form.label :priority %>
    <%= form.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "一覧へ戻る", tasks_path %>
